<launch>

<!-- sis_v_writer_section-->

<!--sis_v_1p85m2019_dev_writer.conf -->
  <node pkg = "necst-1p85m2019"
        name = "sis_l1_v_1p85m2019_dev_writer"
        type = "relay.py">
    <remap from = '/1p85m/sis/v_cmd' to = '/1p85m/sis_l1/v_cmd'/>
    <remap from = '/dev/cpz340816/rsw/ch' to = '/dev/cpz340816/rsw0/ch1'/>
    <param name = "config_file"
           value = "$(find necst-1p85m2019)/node_conf/sis_v_1p85m2019_dev_writer.conf" />
  </node>

  <node pkg = "necst-1p85m2019"
        name = "sis_l2_v_1p85m2019_dev_writer"
        type = "relay.py">
    <remap from = '/1p85m/sis/v_cmd' to = '/1p85m/sis_l2/v_cmd'/>
    <remap from = '/dev/cpz340816/rsw/ch' to = '/dev/cpz340816/rsw0/ch2'/>
    <param name = "config_file"
           value = "$(find necst-1p85m2019)/node_conf/sis_v_1p85m2019_dev_writer.conf" />

  </node>

  <node pkg = "necst-1p85m2019"
        name = "sis_r1_v_1p85m2019_dev_writer"
        type = "relay.py">
    <remap from = '/1p85m/sis/v_cmd' to = '/1p85m/sis_r1/v_cmd'/>
    <remap from = '/dev/cpz340816/rsw/ch' to = '/dev/cpz340816/rsw0/ch3'/>
    <param name = "config_file"
           value = "$(find necst-1p85m2019)/node_conf/sis_v_1p85m2019_dev_writer.conf" />

  </node>

  <node pkg = "necst-1p85m2019"
        name = "sis_r2_v_1p85m2019_dev_writer"
        type = "relay.py">
    <remap from = '/1p85m/sis/v_cmd' to = '/1p85m/sis_r2/v_cmd'/>
    <remap from = '/dev/cpz340816/rsw/ch' to = '/dev/cpz340816/rsw0/ch4'/>
    <param name = "config_file"
           value = "$(find necst-1p85m2019)/node_conf/sis_v_1p85m2019_dev_writer.conf" />

  </node>


<!--sis_iv_reader-->
<!--sis_i_1p85m2019_dev_reader.conf-->
  <node pkg = "necst-1p85m2019"
        name = "sis_l1_i1p85m2019_dev_reader"
        type = "relay.py">
    <remap from = '/1p85m/sis/i' to = '/1p85m/sis_l1/i'/>
    <remap from = '/dev/cpz3177/rsw/ch' to = '/dev/cpz3177/rsw0/ch2'/>
        <param name = "config_file"
               value = "$(find necst-1p85m2019)/node_conf/sis_i_1p85m2019_dev_reader.conf" />
  </node>


    <node pkg = "necst-1p85m2019"
          name = "sis_l2_i_1p85m2019_dev_reader"
          type = "relay.py">
      <remap from = '/1p85m/sis/i' to = '/1p85m/sis_l2/i'/>
      <remap from = '/dev/cpz3177/rsw/ch' to = '/dev/cpz3177/rsw0/ch4'/>
          <param name = "config_file"
                 value = "$(find necst-1p85m2019)/node_conf/sis_i_1p85m2019_dev_reader.conf" />
    </node>

    <node pkg = "necst-1p85m2019"
          name = "sis_r1_i_1p85m2019_dev_reader"
          type = "relay.py">
      <remap from = '/1p85m/sis/i' to = '/1p85m/sis_r1/i'/>
      <remap from = '/dev/cpz3177/rsw/ch' to = '/dev/cpz3177/rsw0/ch6'/>
      <param name = "config_file"
             value = "$(find necst-1p85m2019)/node_conf/sis_i_1p85m2019_dev_reader.conf" />

    </node>

  <node pkg = "necst-1p85m2019"
        name = "sis_r2_i_1p85m2019_dev_reader"
        type = "relay.py">
    <remap from = '/1p85m/sis/i' to = '/1p85m/sis_r2/i'/>
    <remap from = '/dev/cpz3177/rsw/ch' to = '/dev/cpz3177/rsw0/ch8'/>
        <param name = "config_file"
               value = "$(find necst-1p85m2019)/node_conf/sis_i_1p85m2019_dev_reader.conf" />

  </node>


  <!--sis_v_1p85m2019_dev_reader.conf-->

  <node pkg = "necst-1p85m2019"
        name = "sis_l1_v_1p85m2019_dev_reader"
        type = "relay.py">
    <remap from = '/1p85m/sis/v' to = '/1p85m/sis_l1/v'/>
    <remap from = '/dev/cpz3177/rsw/ch' to = '/dev/cpz3177/rsw0/ch1'/>
        <param name = "config_file"
               value = "$(find necst-1p85m2019)/node_conf/sis_v_1p85m2019_dev_reader.conf" />

  </node>

  <node pkg = "necst-1p85m2019"
        name = "sis_l2_v_1p85m2019_dev_reader"
        type = "relay.py">
    <remap from = '/1p85m/sis/v' to = '/1p85m/sis_l2/v'/>
    <remap from = '/dev/cpz3177/rsw/ch' to = '/dev/cpz3177/rsw0/ch3'/>
        <param name = "config_file"
               value = "$(find necst-1p85m2019)/node_conf/sis_v_1p85m2019_dev_reader.conf" />

  </node>

  <node pkg = "necst-1p85m2019"
        name = "sis_r1_v_1p85m2019_dev_reader"
        type = "relay.py">
    <remap from = '/1p85m/sis/v' to = '/1p85m/sis_r1/v'/>
    <remap from = '/dev/cpz3177/rsw/ch' to = '/dev/cpz3177/rsw0/ch5'/>
    <param name = "config_file"
           value = "$(find necst-1p85m2019)/node_conf/sis_v_1p85m2019_dev_reader.conf" />

  </node>


  <node pkg = "necst-1p85m2019"
        name = "sis_r2_v_1p85m2019_dev_reader"
        type = "relay.py">
    <remap from = '/1p85m/sis/v' to = '/1p85m/sis_r2/v'/>
    <remap from = '/dev/cpz3177/rsw/ch' to = '/dev/cpz3177/rsw0/ch7'/>
        <param name = "config_file"
               value = "$(find necst-1p85m2019)/node_conf/sis_v_1p85m2019_dev_reader.conf" />
  </node>


<!--power section-->
<!--if_power_1p85m2019_dev_reader.conf-->

  <node pkg = "necst-1p85m2019"
        name = "if_power_1p85m2019_dev_reader"
        type = "relay.py">
    <param name = "config_file"
           value = "$(find necst-1p85m2019)/node_conf/if_power_1p85m2019_dev_reader.conf" />
  </node>

<!--temp section-->
<!--dewar_temp_1p85m2019_dev_reader.conf-->
<!--
  <node pkg = "necst-1p85m2019"
        name = "dewar_temp_4K_1p85m2019_dev_reader"
        type = "relay.py">
        <remap from = '/1p85m/dewar/temp' to = '/1p85m/dewar/temp_4k'/>
        <remap from = '/dev/218/__IP__/ch' to = '/dev/218/__IP__/ch1'/>
    <param name = "config_file"
           value = "$(find necst-1p85m2019)/node_conf/dewar_temp_1p85m2019_dev_reader.conf" />
  </node>

  <node pkg = "necst-1p85m2019"
        name = "dewar_temp_40K_1p85m2019_dev_reader"
        type = "relay.py">
        <remap from = '/1p85m/dewar/temp' to = '/1p85m/dewar/temp_40k'/>
        <remap from = '/dev/218/__IP__/ch' to = '/dev/218/__IP__/ch2'/>
    <param name = "config_file"
           value = "$(find necst-1p85m2019)/node_conf/dewar_temp_1p85m2019_dev_reader.conf" />
  </node>

  <node pkg = "necst-1p85m2019"
        name = "dewar_temp_300K_1p85m2019_dev_reader"
        type = "relay.py">
        <remap from = '/1p85m/dewar/temp' to = '/1p85m/dewar/temp_300k'/>
        <remap from = '/dev/218/__IP__/ch' to = '/dev/218/__IP__/ch3'/>
    <param name = "config_file"
           value = "$(find necst-1p85m2019)/node_conf/dewar_temp_1p85m2019_dev_reader.conf" />
  </node>
-->

<!--sg section-->
<!--first_sg_1p85m2019_dev_freq_writer.conf-->
  <node pkg = "necst-1p85m2019"
        name = "first_sg_lhcp_1p85m2019_dev_freq_writer"
        type = "relay.py">
        <remap from = '/1p85m/1st_sg/f_cmd' to = '/1p85m/1st_sg_lhcp/f_cmd'/>
        <remap from = '/dev/fsw0020/__IP__/f_cmd' to = '/dev/fsw0020/ip_192_168_100_53/freq_cmd'/>
    <param name = "config_file"
           value = "$(find necst-1p85m2019)/node_conf/first_sg_1p85m2019_dev_freq_writer.conf" />
  </node>

  <node pkg = "necst-1p85m2019"
        name = "first_sg_rhcp_1p85m2019_dev_freq_writer"
        type = "relay.py">
        <remap from = '/1p85m/1st_sg/f_cmd' to = '/1p85m/1st_sg_rhcp/f_cmd'/>
        <remap from = '/dev/fsw0020/__IP__/f_cmd' to = '/dev/fsw0020/ip_192_168_100_54/freq_cmd'/>
    <param name = "config_file"
           value = "$(find necst-1p85m2019)/node_conf/first_sg_1p85m2019_dev_freq_writer.conf" />
  </node>

<!--second_sg_1p85m2019_dev_freq_writer.conf-->
    <node pkg = "necst-1p85m2019"
          name = "second_sg_lsb_1p85m2019_dev_freq_writer"
          type = "relay.py">
          <remap from = '/1p85m/2nd_sg/f_cmd' to = '/1p85m/2nd_sg_lsb/f_cmd'/>
          <remap from = '/dev/fsw0010/__IP__/f_cmd' to = '/dev/fsw0010/ip_192_168_100_51/freq_cmd'/>
      <param name = "config_file"
             value = "$(find necst-1p85m2019)/node_conf/second_sg_1p85m2019_dev_freq_writer.conf" />
    </node>

    <node pkg = "necst-1p85m2019"
          name = "second_sg_usb_1p85m2019_dev_freq_writer"
          type = "relay.py">
          <remap from = '/1p85m/2nd_sg/f_cmd' to = '/1p85m/2nd_sg_usb/f_cmd'/>
          <remap from = '/dev/fsw0010/__IP__/f_cmd' to = '/dev/fsw0010/ip_192_168_100_52/freq_cmd'/>
      <param name = "config_file"
             value = "$(find necst-1p85m2019)/node_conf/second_sg_1p85m2019_dev_freq_writer.conf" />
    </node>


<!--first_sg_1p85m2019_dev_onoff_writer.conf-->
    <node pkg = "necst-1p85m2019"
          name = "first_sg_lhcp_1p85m2019_dev_onoff_writer"
          type = "relay.py">
          <remap from = '/1p85m/1st_sg/onoff_cmd' to = '/1p85m/1st_sg_lhcp/onoff_cmd'/>
          <remap from = '/dev/fsw0020/__IP__/onoff_cmd' to = '/dev/fsw0020/ip_192_168_100_53/onoff_cmd'/>
      <param name = "config_file"
             value = "$(find necst-1p85m2019)/node_conf/first_sg_1p85m2019_dev_onoff_writer.conf" />
    </node>

    <node pkg = "necst-1p85m2019"
          name = "first_sg_rhcp_1p85m2019_dev_onoff_writer"
          type = "relay.py">
          <remap from = '/1p85m/1st_sg/onoff_cmd' to = '/1p85m/1st_sg_rhcp/onoff_cmd'/>
          <remap from = '/dev/fsw0020/__IP__/onoff_cmd' to = '/dev/fsw0020/ip_192_168_100_54/onoff_cmd'/>
      <param name = "config_file"
             value = "$(find necst-1p85m2019)/node_conf/first_sg_1p85m2019_dev_onoff_writer.conf" />
    </node>

<!--second_sg_1p85m2019_dev_onoff_writer.conf-->
    <node pkg = "necst-1p85m2019"
          name = "second_sg_lsb_1p85m201_dev_onoff_writer"
          type = "relay.py">
          <remap from = '/1p85m/2nd_sg/onoff_cmd' to = '/1p85m/2nd_sg_lsb/onoff_cmd'/>
          <remap from = '/dev/fsw0010/__IP__/onoff_cmd' to = '/dev/fsw0010/ip_192_168_100_51/onoff_cmd'/>
      <param name = "config_file"
             value = "$(find necst-1p85m2019)/node_conf/second_sg_1p85m2019_dev_onoff_writer.conf" />
    </node>

    <node pkg = "necst-1p85m2019"
          name = "second_sg_usb_1p85m2019_dev_onoff_writer"
          type = "relay.py">
          <remap from = '/1p85m/2nd_sg/onoff_cmd' to = '/1p85m/2nd_sg_usb/onoff_cmd'/>
          <remap from = '/dev/fsw0010/__IP__/onoff_cmd' to = '/dev/fsw0010/ip_192_168_100_52/onoff_cmd'/>
      <param name = "config_file"
             value = "$(find necst-1p85m2019)/node_conf/second_sg_1p85m2019_dev_onoff_writer.conf" />
    </node>


<!--vacuum section-->
<!--dewar_vacuum_1p85m2019_dev_reader.conf-->
<!--
    <node pkg = "necst-1p85m2019"
          name = "dewar_vacuum_1p85m2019_dev_reader"
          type = "relay.py">
          <remap from = '/dev/tpg/__usb__/press' to = '/dev/tpg/__usb__/press'/>
      <param name = "config_file"
             value = "$(find necst-1p85m2019)/node_conf/dewar_vacuum_1p85m2019_dev_reader.conf" />
    </node>
-->

<!--att section-->
<!--adios-1p85m-dev_att_writer.conf-->
<node pkg = "necst-1p85m2019"
      name = "adios_1p85m2019_dev_att4_writer"
      type = "relay.py">
      <remap from = '/dev/adios/__IP__/att_cmd' to = '/dev/adios/ip_192_168_100_25/att1_cmd'/>
      <remap from = '/1p85m/adios/ch/att_cmd' to = '/1p85m/adios/ch4/att1_cmd'/>
  <param name = "config_file"
         value = "$(find necst-1p85m2019)/node_conf/adios_1p85m2019_dev_att_writer.conf" />
</node>

<node pkg = "necst-1p85m2019"
      name = "adios_1p85m2019_dev_att3_writer"
      type = "relay.py">
      <remap from = '/dev/adios/__IP__/att_cmd' to = '/dev/adios/ip_192_168_100_25/att2_cmd'/>
      <remap from = '/1p85m/adios/ch/att_cmd' to = '/1p85m/adios/ch2/att2_cmd'/>
  <param name = "config_file"
         value = "$(find necst-1p85m2019)/node_conf/adios_1p85m2019_dev_att_writer.conf" />
</node>

<node pkg = "necst-1p85m2019"
      name = "adios_1p85m2019_dev_att2_writer"
      type = "relay.py">
      <remap from = '/dev/adios/__IP__/att_cmd' to = '/dev/adios/ip_192_168_100_26/att1_cmd'/>
      <remap from = '/1p85m/adios/ch/att_cmd' to = '/1p85m/adios/ch2/att1_cmd'/>
  <param name = "config_file"
         value = "$(find necst-1p85m2019)/node_conf/adios_1p85m2019_dev_att_writer.conf" />
</node>

<node pkg = "necst-1p85m2019"
      name = "adios_1p85m2019_dev_att1_writer"
      type = "relay.py">
      <remap from = '/dev/adios/__IP__/att_cmd' to = '/dev/adios/ip_192_168_100_26/att2_cmd'/>
      <remap from = '/1p85m/adios/ch/att_cmd' to = '/1p85m/adios/ch1/att2_cmd'/>
  <param name = "config_file"
         value = "$(find necst-1p85m2019)/node_conf/adios_1p85m2019_dev_att_writer.conf" />
</node>

<!--adios-1p85m-dev_att_reader.conf-->
<node pkg = "necst-1p85m2019"
      name = "adios_1p85m2019_dev_att4_reader"
      type = "relay.py">
      <remap from = '/dev/adios/__IP__/att' to = '/dev/adios/ip_192_168_100_25/att1'/>
      <remap from = '/1p85m/adios/ch/att' to = '/1p85m/adios/ch4/att'/>
  <param name = "config_file"
         value = "$(find necst-1p85m2019)/node_conf/adios_1p85m2019_dev_att_reader.conf" />
</node>

<node pkg = "necst-1p85m2019"
      name = "adios_1p85m2019_dev_att3_reader"
      type = "relay.py">
      <remap from = '/dev/adios/__IP__/att' to = '/dev/adios/ip_192_168_100_25/att2'/>
      <remap from = '/1p85m/adios/ch/att' to = '/1p85m/adios/ch2/att'/>
  <param name = "config_file"
         value = "$(find necst-1p85m2019)/node_conf/adios_1p85m2019_dev_att_reader.conf" />
</node>

<node pkg = "necst-1p85m2019"
      name = "adios_1p85m2019_dev_att2_reader"
      type = "relay.py">
      <remap from = '/dev/adios/__IP__/att' to = '/dev/adios/ip_192_168_100_26/att1'/>
      <remap from = '/1p85m/adios/ch/att' to = '/1p85m/adios/ch2/att'/>
      <param name = "config_file"
             value = "$(find necst-1p85m2019)/node_conf/adios_1p85m2019_dev_att_reader.conf" />
</node>

<node pkg = "necst-1p85m2019"
      name = "adios_1p85m2019_dev_att1_reader"
      type = "relay.py">
      <remap from = '/dev/adios/__IP__/att' to = '/dev/adios/ip_192_168_100_26/att2'/>
      <remap from = '/1p85m/adios/ch/att' to = '/1p85m/adios/ch1/att'/>
      <param name = "config_file"
             value = "$(find necst-1p85m2019)/node_conf/adios_1p85m2019_dev_att_reader.conf" />
</node>

</launch>
