<launch>

<!-- sis_v_writer_section-->

<!--sis_vgap-1p85m2019-1p85m2019_writer.conf-->

  <node pkg = "necst-1p85m2019"
        name = "sis_l1_vgap_1p85m2019_1p85m2019_writer"
        type = "relay.py">
    <remap from = '/1p85m/sis/vgap_cmd' to = '/1p85m/sis_l1/vgap_cmd'/>
    <remap from = '/1p85m/sis/v_cmd' to = '/1p85m/sis_l1/v_cmd'/>
    <param name = "config_file"
           value = "$(find necst-1p85m2019)/node_conf/sis_vgap_1p85m2019_1p85m2019_writer.conf" />

  </node>

  <node pkg = "necst-1p85m2019"
        name = "sis_l2_vgap_1p85m2019_1p85m2019_writer"
        type = "relay.py">
    <remap from = '/1p85m/sis/vgap_cmd' to = '/1p85m/sis_l2/vgap_cmd'/>
    <remap from = '/1p85m/sis/v_cmd' to = '/1p85m/sis_l2/v_cmd'/>
    <param name = "config_file"
           value = "$(find necst-1p85m2019)/node_conf/sis_vgap_1p85m2019_1p85m2019_writer.conf" />

  </node>

  <node pkg = "necst-1p85m2019"
        name = "sis_r1_vgap_1p85m2019_1p85m2019_writer"
        type = "relay.py">
    <remap from = '/1p85m/sis/vgap_cmd' to = '/1p85m/sis_r1/vgap_cmd'/>
    <remap from = '/1p85m/sis/v_cmd' to = '/1p85m/sis_r1/v_cmd'/>
    <param name = "config_file"
           value = "$(find necst-1p85m2019)/node_conf/sis_vgap_1p85m2019_1p85m2019_writer.conf" />

  </node>

  <node pkg = "necst-1p85m2019"
        name = "sis_r2_vgap_1p85m2019_1p85m2019_writer"
        type = "relay.py">
    <remap from = '/1p85m/sis/vgap_cmd' to = '/1p85m/sis_r2/vgap_cmd'/>
    <remap from = '/1p85m/sis/v_cmd' to = '/1p85m/sis_r2/v_cmd'/>
    <param name = "config_file"
           value = "$(find necst-1p85m2019)/node_conf/sis_vgap_1p85m2019_1p85m2019_writer.conf" />

  </node>


<!--sis_vp-1p85m2019-1p85m2019_writer.conf-->

<node pkg = "necst-1p85m2019"
      name = "sis_l1_vp_1p85m2019_1p85m2019_writer"
      type = "relay.py">
  <remap from = '/1p85m/sis/vp_cmd' to = '/1p85m/sis_l1/vp_cmd'/>
  <remap from = '/1p85m/sis/v_cmd' to = '/1p85m/sis_l1/v_cmd'/>
  <param name = "config_file"
         value = "$(find necst-1p85m2019)/node_conf/sis_vp_1p85m2019_1p85m2019_writer.conf" />

</node>

<node pkg = "necst-1p85m2019"
      name = "sis_l2_vp_1p85m2019_1p85m2019_writer"
      type = "relay.py">
  <remap from = '/1p85m/sis/vp_cmd' to = '/1p85m/sis_l2/vp_cmd'/>
  <remap from = '/1p85m/sis/v_cmd' to = '/1p85m/sis_l2/v_cmd'/>
  <param name = "config_file"
         value = "$(find necst-1p85m2019)/node_conf/sis_vp_1p85m2019_1p85m2019_writer.conf" />

</node>

<node pkg = "necst-1p85m2019"
      name = "sis_r1_vp_1p85m2019_1p85m2019_writer"
      type = "relay.py">
  <remap from = '/1p85m/sis/vp_cmd' to = '/1p85m/sis_r1/vp_cmd'/>
  <remap from = '/1p85m/sis/v_cmd' to = '/1p85m/sis_r1/v_cmd'/>
  <param name = "config_file"
         value = "$(find necst-1p85m2019)/node_conf/sis_vp_1p85m2019_1p85m2019_writer.conf" />

</node>

<node pkg = "necst-1p85m2019"
      name = "sis_r2_vp_1p85m2019_1p85m2019_writer"
      type = "relay.py">
  <remap from = '/1p85m/sis/vp_cmd' to = '/1p85m/sis_r2/vp_cmd'/>
  <remap from = '/1p85m/sis/v_cmd' to = '/1p85m/sis_r2/v_cmd'/>
  <param name = "config_file"
         value = "$(find necst-1p85m2019)/node_conf/sis_vp_1p85m2019_1p85m2019_writer.conf" />
</node>

<!--first_lo-1p85m2019-1p85m2019_freq_writer.conf-->
<node pkg = "necst-1p85m2019"
      name = "first_lo_lhcp_1p85m2019_1p85m2019_freq_writer"
      type = "relay.py">
  <remap from = '/1p85m/1st_lo/f_cmd' to = '/1p85m/1st_lo_lhcp/f_cmd'/>
  <remap from = '/1p85m/1st_sg/f_cmd' to = '/1p85m/1st_sg_lhcp/f_cmd'/>
  <param name = "config_file"
         value = "$(find necst-1p85m2019)/node_conf/first_lo_lhcp_1p85m2019_1p85m2019_freq_writer.conf" />
</node>

<node pkg = "necst-1p85m2019"
      name = "first_lo_rhcp_1p85m2019_1p85m2019_freq_writer"
      type = "relay.py">
  <remap from = '/1p85m/1st_lo/f_cmd' to = '/1p85m/1st_lo_rhcp/f_cmd'/>
  <remap from = '/1p85m/1st_sg/f_cmd' to = '/1p85m/1st_sg_rhcp/f_cmd'/>
  <param name = "config_file"
         value = "$(find necst-1p85m2019)/node_conf/first_lo_rhcp_1p85m2019_1p85m2019_freq_writer.conf" />
</node>


<!--second_lo-1p85m2019-1p85m2019_freq_writer.conf-->
<node pkg = "necst-1p85m2019"
      name = "second_lo_lsb_1p85m2019_1p85m2019_freq_writer"
      type = "relay.py">
  <remap from = '/1p85m/2nd_lo/f_cmd' to = '/1p85m/2nd_lo_lsb/f_cmd'/>
  <remap from = '/1p85m/2nd_sg/f_cmd' to = '/1p85m/2nd_sg_lsb/f_cmd'/>
  <param name = "config_file"
         value = "$(find necst-1p85m2019)/node_conf/second_lo_1p85m2019_1p85m2019_freq_writer.conf" />
</node>

<node pkg = "necst-1p85m2019"
      name = "second_lo_usb_1p85m2019_1p85m2019_freq_writer"
      type = "relay.py">
  <remap from = '/1p85m/2nd_lo/f_cmd' to = '/1p85m/2nd_lo_usb/f_cmd'/>
  <remap from = '/1p85m/2nd_sg/f_cmd' to = '/1p85m/2nd_sg_usb/f_cmd'/>
  <param name = "config_file"
         value = "$(find necst-1p85m2019)/node_conf/second_lo_1p85m2019_1p85m2019_freq_writer.conf" />
</node>

<!--first_lo-1p85m2019-1p85m2019_onoff_writer.conf-->
<node pkg = "necst-1p85m2019"
      name = "first_lo_lhcp_1p85m2019_1p85m2019_onoff_writer"
      type = "relay.py">
  <remap from = '/1p85m/1st_lo/onoff_cmd' to = '/1p85m/1st_lo_lhcp/onoff_cmd'/>
  <remap from = '/1p85m/1st_sg/onoff_cmd' to = '/1p85m/1st_sg_lhcp/onoff_cmd'/>
  <param name = "config_file"
         value = "$(find necst-1p85m2019)/node_conf/first_lo_1p85m2019_1p85m2019_onoff_writer.conf" />
</node>

<node pkg = "necst-1p85m2019"
      name = "first_lo_rhcp_1p85m2019_1p85m2019_onoff_writer"
      type = "relay.py">
  <remap from = '/1p85m/1st_lo/onoff_cmd' to = '/1p85m/1st_lo_rhcp/onoff_cmd'/>
  <remap from = '/1p85m/1st_sg/onoff_cmd' to = '/1p85m/1st_sg_rhcp/onoff_cmd'/>
  <param name = "config_file"
         value = "$(find necst-1p85m2019)/node_conf/first_lo_1p85m2019_1p85m2019_onoff_writer.conf" />
</node>


<!--second_lo-1p85m2019-1p85m2019_onoff_writer.conf-->
<node pkg = "necst-1p85m2019"
      name = "second_lo_lsb_1p85m2019_1p85m2019_onoff_writer"
      type = "relay.py">
  <remap from = '/1p85m/2nd_lo/onoff_cmd' to = '/1p85m/2nd_lo_lsb/onoff_cmd'/>
  <remap from = '/1p85m/2nd_sg/onoff_cmd' to = '/1p85m/2nd_sg_lsb/onoff_cmd'/>
  <param name = "config_file"
         value = "$(find necst-1p85m2019)/node_conf/second_lo_1p85m2019_1p85m2019_onoff_writer.conf" />
</node>

<node pkg = "necst-1p85m2019"
      name = "second_lo_usb_1p85m2019_1p85m2019_onoff_writer"
      type = "relay.py">
  <remap from = '/1p85m/2nd_lo/onoff_cmd' to = '/1p85m/2nd_lo_usb/onoff_cmd'/>
  <remap from = '/1p85m/2nd_sg/onoff_cmd' to = '/1p85m/2nd_sg_usb/onoff_cmd'/>
  <param name = "config_file"
         value = "$(find necst-1p85m2019)/node_conf/second_lo_1p85m2019_1p85m2019_onoff_writer.conf" />
</node>

</launch>
