<launch>
  <machine name="necstrx" address="192.168.100.132" env-loader="/root/ros/devel/env.sh" user="root" password="root"  />
  <node pkg="rospkg-pyinterface" name="cpz340816" type="cpz340816.py" required="true" output="screen" machine="nexstrx">
    <param name="~rate" value="0.1" />
    <param name="~rsw_id" value="0" />
    <param name="~ch_number" value="16" />
  </node>
</launch>
